// main: ../default.scss
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

// ==============================================================
// Setting
// ==============================================================

$mainColor: #144821;
$themaColor: #b4ff52;
$fontColor: #3be23b;
$bgColor: #f7f7f7;
$ttlColor: #1a1717;

$container: 900px;
$spContainer: 700px;

$ttlFont: 26px;
$pcTtlFont: 32px;
